{{!-- Create handlebars template--}}

<h1>Nom that Burger</h1>
<h2>Which Burger will you choose?</h2>

<ul>
    {{#each burgers}}
        {{#unless devoured}}
            <li> 
                {{ burger_name }} 
                <button class="devour-btn" data-id="{{id}}">Devour Burger!</button>
            </li>
        {{/unless}}
    {{/each}}
</ul>

<ul>
    {{#each burgers}}
        {{#if devoured}}
        <li> {{ burger_name }}</li>
        {{/if}}
    {{/each}}
</ul>

<h2>Add Your Own Burger!</h2>
<form>
    <div>
        <input id="input-burger" type="text"><br>
        <button class="make-burger-btn" type="submit">Make My Burger!</button>

    </div>
</form>