body {
    text-align: center;
    background-color: brown;
    font-family: sans-serif;
    margin: 30px;
    padding: 20px;
}

.burger-jpg {
    padding: 10px;
    display: block;
    margin: 0 auto;
}

ul {
    text-align: left;
    list-style-type: none;
    font-size: larger;
}

.list-title {
    margin-top: 20px;
    text-decoration: underline;
    text-align: center;
}

button {
    margin: 15px;
    background-color: burlywood;
}

.sub-header {
    margin-bottom: 30px;
}