body {
    text-align: center;
    background: url("https://image.shutterstock.com/image-photo/wooden-table-checkered-textile-food-260nw-1540132997.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: sans-serif;
    margin: 30px;
    padding: 20px;
}

.head-title {
    font-weight: bolder;
}

.burger-jpg {
    padding: 10px;
    display: block;
    margin: 0 auto;
}

ul {
    margin-top: 20px;
    padding: 10px;
    background-color: rgba(146, 114, 72, 0.8);
    text-align: left;
    list-style-type: none;
    font-size: larger;
}

.list-title {
    margin-top: 20px;
    text-decoration: underline;
    text-align: center;
}

button {
    margin: 15px;
    background-color: burlywood;
}

.sub-header {
    margin-bottom: 30px;
}

.devour-btn {
    margin-left: 15px;
}

.plate-item {
    margin-left: 70px;
}

.devoured-list {
    margin-left: 40px;
}

.devoured-item {
    margin-left: 30px;
}